{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Password Reset Sent</h3>
		<p>We've emailed you instructions for setting your password, if an account exists with the email entered. You should receive them shortly.</p>
		<p>If you don't receive an email, please make sure you've entered the addtress you registered with, and check your spam folder.</p>
		<p style="color:red">IMPORTANT: If clicking on the link does not work, copy and paste the link to your browser. </p>
	</div>	
{% endblock content %}