{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">
</head>
	<div class = "products">
	    <div class = "container">
	        <h1 class = "lg-title">Yearbooks</h1>
	       

	        <div class = "product-items">
	            <!-- single product -->
	            {% for product in products %}
	            	{% if product.productType == "Yearbook" %}
		            <div class = "product">
		            	<div class = "product-content">
		            		<div class = "product-img">
		            		    <img src = "{{product.imageURL}}" alt = "product image">
		            		</div>
		            		<div class = "product-btns">
		            			
		            			<button type = "button" class = "btn-cart update-cart" data-product="{{product.id}}" data-action="add" > Add  <span><i class = "fa fa-shopping-cart"></i></span></button>
		            			<a type = "button" class = "btn-buy" href = "{% url 'productdetail' product.id %}" style="text-align: center;text-decoration: none;"> View
		            			</a>
		            		</div>
		            	</div>
		            	<div class = "product-info">
		            	    <div class = "product-info-top">
		            	        <h2 class = "sm-title">{{product.productType}}</h2>

		            	    </div>
		            	    <a href = "{% url 'productdetail' product.id %}" class = "product-name">{{product.name}}</a>
		            	    <p class = "product-price">$ {{product.price}}</p>
		            	 
		            	</div>
		            </div>
		            {% endif %}
		        {% endfor %}
		    </div>
{% endblock content %}